@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Project is currently in development. Any use of this site, including its ideas, assets, or code is forbidden without permission from the admin. For more information, please email connorreecefitzgerald@gmail.com</p>
