@model TimeServed.Models.ViewModels.AppointmentClientViewModel

@{
    ViewData["Title"] = "Create";
}
    <h1 class="text-center" style="margin-top:5vh;">Book an appointment</h1>

    <br />
    <div class="card" style="width: 30vw; margin: auto">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="appointment.ClientId" class="control-label"></label>
                    <select asp-for="appointment.ClientId" class="form-control" asp-items="@Model.Clients"></select>
                    <span asp-validation-for="appointment.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="appointment.VisitDateStart" class="control-label"></label>
                    <input asp-for="appointment.VisitDateStart" class="form-control" />
                    <span asp-validation-for="appointment.VisitDateStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="appointment.VisitDateEnd" class="control-label"></label>
                    <select asp-for="selected"  class="form-control" asp-items="@Model.Times"></select>
                    <span asp-validation-for="appointment.VisitDateEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="appointment.CaseNumber" class="control-label"></label>
                    <input asp-for="appointment.CaseNumber" class="form-control" />
                    <span asp-validation-for="appointment.CaseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="appointment.Purpose" class="control-label"></label>
                    <input asp-for="appointment.Purpose" class="form-control" />
                    <span asp-validation-for="appointment.Purpose" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="appointment.Notes" class="control-label"></label>
                    <input asp-for="appointment.Notes" class="form-control" />
                    <span asp-validation-for="appointment.Notes" class="text-danger"></span>
                </div>
                <div class="form-group text-center" style="margin-top: 1vh">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center" style="margin-top:1rem">
        <a asp-action="Index">See all of your appointments</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
