@model TimeServed.Models.ViewModels.AttorneyReport

@{
    ViewData["Title"] = "Index";
}


<h1>Hours worked</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Attorney
            </th>
            <th>
                Total hours(h/m/s)
            </th>
            <th>
                Monthly hours (h/m/s)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.attorneys)
        {
            List<TimeSpan> baseTimeSpan = new List<TimeSpan>();
            var totalTime = TimeSpan.Zero;
            var monthlyTime = TimeSpan.Zero;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @foreach (var item2 in Model.appointments.Where(a => a.ApplicationUserId == item.Id))
                {
                    totalTime = totalTime + item2.TimeSpent();
                }
                <td>
                    @totalTime.Hours:@totalTime.Minutes:@totalTime.Seconds
                </td>
                @foreach (var item2 in Model.appointments.Where(a => a.ApplicationUserId == item.Id && a.VisitDate.Month == DateTime.Now.Month))
                {
                    monthlyTime = monthlyTime + item2.TimeSpent();
                }
                <td>
                    @monthlyTime.Hours:@monthlyTime.Minutes:@monthlyTime.Seconds
                </td>
            </tr>
    }
        </tbody>
    </table>
