@model TimeServed.Models.ViewModels.AttorneyReport

@{
    ViewData["Title"] = "Index";
}


<h1>Hours worked</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Attorney
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoursWorked)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.attorneys)
        {
            List <TimeSpan> baseTimeSpan = new List<TimeSpan>();
            var totalTime = TimeSpan.Zero;
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @foreach (var item2 in Model.appointments.Where(a => a.ApplicationUserId == item.Id))
            {
                baseTimeSpan.Add(item2.TimeSpent());
                totalTime = totalTime + item2.TimeSpent();
            }
        <td>
            @totalTime.Hours:@totalTime.Minutes:@totalTime.Seconds
        </td>
        </tr>
        }

    </tbody>
</table>
