@model TimeServed.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Thanks for checking in!</h1>

<hr />
<div class="card" style="height: 40vh; width: 30vw; margin: auto">
    <div class="text-center m-lg-auto" style="font-size: 20px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" hidden />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="VisitDateStart" class="control-label"></label>
                <input asp-for="VisitDateStart" class="form-control" hidden />
                <span asp-validation-for="VisitDateStart" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" hidden />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CheckOut" class="control-label"></label>
            <input asp-for="CheckOut" class="form-control" readonly/>
            <span asp-validation-for="CheckOut" class="text-danger"></span>
        </div>*@
            <div class="form-group text-center">

                <input type="submit" value="Check-out" class="btn btn-primary" />
            </div>


        </form>
        <div class="textContainer"></div>
        <p>Check-in time: @Model.CheckIn</p>
        <p>When you're finished, please check-out!</p>
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
